@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 247, 251, 255;
  --secondary: 39, 39, 39;
  --warning: 250, 159, 66;
  --silver: 108, 110, 160;
  --danger: 188, 44, 26;

  .dark {
    --primary: 39, 39, 39;
    --secondary: 247, 251, 255;
  }
}

html,
body {
  @apply min-h-screen;
}
body {
  @apply h-full w-screen overflow-hidden flex flex-col bg-primary text-secondary;
}

h1 {
  @apply text-3xl;
}
